@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(24, 22, 22);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
